{
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" }}],
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"quoteProps": "consistent",
	"semi": false,
	"singleQuote": true,
	"trailingComma": "es5"
}
