.pagination {
  display: grid;
  font-size: 0.75rem;
  grid-template-columns: 2rem 1fr 2rem;
  height: 2rem;
  margin: auto;
  width: 320px;
}

.sr {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
